@model questions
@{
    ViewData["Title"] = "DeleteWarning";
}

<h1 style="color:red; border-top: 4px solid red; border-bottom: 4px solid red; display:inline">Delete Warning</h1>
<br /><br />
<h2>@Model.title</h2>
<h3>@Model.details</h3>
posted by @Model.username on @Model.posted
<br />
@if (Model.status == 0)
{
    <span>Not Closed</span>
}
else
{
    <span>Closed</span>
}
<br /><br />
<h4 style="color:red">Are you sure you want to delete this question? If so it will delete @ViewBag.AnswerCount answers associated with the question as well.</h4>

<br /><br />
<table width="100%" style="text-align:center">
    <tbody>
        <tr>
            <td><a href="/questions/deleteq/@Model.id" class="btn btn-danger">Yes, Delete</a></td>
            <td><a href="/questions/detail/@Model.id" class="btn btn-light">No, Go Back</a></td>
        </tr>
    </tbody>
</table>